<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="admin/layout/main">

<div class="bs-example" layout:fragment="content">

    <div class="bs-hander">

        <a th:href="@{/admin/plate/list}" type="button" class="btn btn-default active"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp; 列 表 ([[${pageInfo.total}]])</a>
        <a th:href="@{/admin/plate/addGet}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp; 新 增 </a>

        <div class="col-lg-3" style="float: right; padding-right: 0px; padding-left: 8px;">
            <form id="form1_search" name="form1_search" method="get" action="">
                <div class="input-group">
                    <input type="text" id="search" name="search" class="form-control" placeholder="名称" th:value="${#httpServletRequest.getParameter('search')}">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Go!</button>
                  </span>
                </div>
            </form>
        </div>

    </div>

    <div class="bs-center">

        <table class="table table-bordered table-hover">
            <thead>
            <tr class="active">
                <th width="4%">#</th>
                <th width="10%">板块名称</th>
                <th width="46%">板块介绍</th>
                <th width="20%">排序</th>
                <th width="12%">录入时间</th>
                <th width="8%">操作</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="vo:${pageInfo.list}">
                <th scope="row">[[${vo.id}]]</th>
                <td>[[${vo.name}]]</td>
                <td>[[${vo.description}]]</td>
                <td>[[${vo.sort}]]</td>
                <!--<td><img th:src="@{/admin/showImg(fileName=${vo.imgurl})}" class="img-responsive center-block" ></td>-->
                <td th:text="${#dates.format(vo.getCtime(), 'yyyy-MM-dd hh:mm:ss')}"></td>
                <td>
                    <a th:href="@{/admin/plate/upGet(id=${vo.id})}">编辑</a> |
                    <a th:href="@{/admin/plate/del(id=${vo.id})}" class="delete">删除</a>
                </td>
            </tr>


            </tbody>
        </table>

        <span th:utext="${pageshow}" th:if="${pageInfo.list.size() > 0}"></span>

        <div class="alert alert-warning" role="alert" th:if="${pageInfo.list.size() <= 0}"><span class="glyphicon glyphicon-info-sign glyphicon-pos-2"></span> 暂无信息！</div>

    </div>


</div>
</html>