<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hang.common.mapper.FoInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hang.common.domain.FoInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="groupcnt" property="groupcnt" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="inviteDesc" property="inviteDesc" jdbcType="VARCHAR" />
    <result column="addDesc" property="addDesc" jdbcType="VARCHAR" />
    <result column="imgUrl" property="imgurl" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, groupcnt, description, inviteDesc, addDesc, imgUrl, ctime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fo_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fo_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hang.common.domain.FoInfo" >
    insert into fo_info (id, groupcnt, description, 
      imgUrl, ctime)
    values (#{id,jdbcType=INTEGER}, #{groupcnt,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{imgurl,jdbcType=VARCHAR}, #{ctime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hang.common.domain.FoInfo" >
    insert into fo_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupcnt != null" >
        groupcnt,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="imgurl != null" >
        imgUrl,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupcnt != null" >
        #{groupcnt,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hang.common.domain.FoInfo" >
    update fo_info
    <set >
      <if test="groupcnt != null" >
        groupcnt = #{groupcnt,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        imgUrl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hang.common.domain.FoInfo" >
    update fo_info
    set groupcnt = #{groupcnt,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getInfo" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from fo_info
  </select>
</mapper>